<div>
    Todo listo para trabajar con sockets
</div>
<p id="message">
    
</p>
<!--
    importo dependencia de socket io
    importo mi index.js del public
-->

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>